
<!-- endbower -->
<!-- endbuild -->
<!-- build:css(.tmp) styles/main.css -->

<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="styles/forgot-password.css">

<div class="header">
  <div class="alert alert-success" ng-show="forgot_message" >
    <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Please check you Email.
  </div>
  <div class="navbar navbar-default" role="navigation">

      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="javascript:void(0)">Seller Dashboard</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
        </ul>
      </div>


  </div>
</div>
  <div class="container-fluid">
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
  <form class="form-horizontal" ng-submit="submit()" role="form" ng-controller="ForgotPasswordCtrl">
    <p class="lead reset_pwd">Enter your registered E-Mail ID to reset password</p>
    <div class="form-group has-feedback">
      <input  class="form-control" required id="inputName3" ng-model="email" placeholder="Email" />
       <i class="fa fa-envelope form-control-feedback"></i>
    </div>

    <div class="action clearfix">
      <a href="#/seller">Go Back to Login</a>
      <button type="submit" class="btn btn-primary pull-right">Recover</button>
    </div>

  </form>
  </div>
