
<!-- endbower -->
<!-- endbuild -->
<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" >
  <link rel="stylesheet" href="plugins/intlTelInput.css">
  <link rel="stylesheet" href="styles/register.css" />
<div class="header">

  <video poster="http://res.cloudinary.com/primefusion/video/upload/v1474371001/main_jehmdp.mp4" id="bgvid" playsinline autoplay muted>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
  <source src="plugins/main.mp4" type="video/mp4">


  </video>

</div>
<style>
a:hover
{
  background: transparent;
}
</style>
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="text-content">
            <h2 class="selling"> Selling Online Was Never So Easy. </h2><br/>
              <hr class="hor">
             <p class="lead">  Just fill in the required details below to get started :)</p>

          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

              <form class="form-horizontal" ng-submit="submit()" role="form" ng-controller="RegisterCtrl" style="  ">
                <div class="form-group">
                  <label for="inputName3" class="col-sm-4 control-label"> Your Shop Name</label>
                  <div class="col-sm-6">
                    <input  required maxlength="30" minlength="3"  class="form-control"  ng-model="name" id="inputName3" placeholder="Your Shop Name">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
                  <div class="col-sm-6">
                    <input type="email" required class="form-control" id="inputEmail3" ng-model="email" placeholder="Email">
                    <p class="email_confirmation"> Please provide valid email for confirmation</p>
                  </div>

                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">Password</label>
                  <div class="col-sm-6">
                    <input type="password" id="password" required maxlength="30" minlength="6" class="form-control" ng-model="password" id="inputPassword3" placeholder="Password">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">Confirm Password</label>
                  <div class="col-sm-6">
                    <input type="password" id="confirm_password" required maxlength="30" minlength="6" class="form-control" ng-model="confirn_password" id="inputPassword3" placeholder="Confirm Password">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">Phone</label>
                  <div class="col-sm-6">
                    <input type="number" min="1"  required class="form-control" ng-model="phone" id="inputPassword3" placeholder="Phone">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">Your Current Address</label>
                  <div class="col-sm-6">
                    <textarea row="2" required class="form-control" ng-model="address" id="inputPassword3" placeholder="Address"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">City</label>
                  <div class="col-sm-6">
                    <input required class="form-control" ng-model="city" id="inputPassword3" placeholder="City">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">State</label>
                  <div class="col-sm-6">
                    <input required class="form-control" ng-model="state" id="inputPassword3" placeholder="State">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">Country</label>
                  <div class="col-sm-6">
                    <input required class="form-control" ng-model="country" id="inputPassword3" placeholder="Country">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">Pincode</label>
                  <div class="col-sm-6">
                    <input required maxlength="10" minlength="4" class="form-control" ng-model="pincode" id="inputPassword3" placeholder="Pincode">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">Copy of a Govt. issued ID</label>
                  <div class="col-sm-6">
                      <input type = "file" required class="form-control" file-model = "govt_issue_card" accept="image/*"/>
                    <!-- <input required class="form-control" ng-model="govt_issue_card" id="inputPassword3" placeholder="Govt Issue Card"> -->
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">Your Business Registration ID</label>
                  <div class="col-sm-6">
                    <input required maxlength="30" minlength="3" class="form-control" ng-model="business_registration" id="inputPassword3" placeholder="Your Business Registration ID">
                  </div>
                </div>

              <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LdsBwcUAAAAADfng4zorGEnQxRN5oUjbaIKLcpA"></div>
                <span class="help-block" style="display: none;">Please check that you are not a robot.</span>
              </div>
              <span class="help-block" style="display: none;">Please enter a the security code.</span>

                <div class="form-group">
                  <div class="submit-btn" style="text-align:center;">
                    <p class="agree">By signing up, you agree to our <a target="_blank" href="#/content/57ceaa9b3ba5be6e5b16ba15">T&C</a> and <a target="_blank" href="#/content/57ceaaca3ba5be6e5b16ba18">Privacy Policy</a><br/></p>
                    <button type="submit" class="btn btn-success login_link start_selling btn-lg">Start Selling</button><br/>
                      <a href="#/">Already Registered? Login here</a>
                  </div>

                </div>
              </form>
        </div>
    </div><!--row-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="plugins/fastclick/intlTelInput.min.js"></script>
    <script src="assets/js/contact-form.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>

  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>

  </div>
  <script>
  var password = document.getElementById("password")
, confirm_password = document.getElementById("confirm_password");

  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
  </script>
